

.container{
  text-align: center;
  display: block;
  box-sizing: content-box;
}


input, textarea{
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: .4rem;
  font-family: inherit;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: .5rem;
  resize: none;
  &:focus{
    box-shadow: 0 0 5px #545454;

  }
}

.btn {
    font-family: inherit;
    display: block;
    width: 100%;
    background: #108d1b;
    color: #ffffff;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:disabled{
      background: #545454;
      color: #fff;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      opacity: .8;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

}

